body{
    background-color: #f2f2f2;
}

article {
    width: 70%;
    float: left;
    background-color: #f2f2f2;
    box-sizing: border-box;
    padding: 10px;
}

nav {
    width: 30%;
    float: right;
    box-sizing: border-box;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    article, nav {
        width: 100%;
        float: none;
    }
}

h3{
    font-size: 3em;
}
.divImg{
    position: relative;
    height: 30%;
    text-align: center;
}

iframe{
    width: 90%;
}

.imgMapa{
    width: 50%;
}

.contenido{
    height: 80%;
}

/* Estilos para la sección de comentarios */
.comentarios-section {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.comentario {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.usuario {
    font-weight: bold;
    color: #333;
}

.puntuacion {
    font-style: italic;
    color: #888;
}

.texto-comentario {
    margin-top: 8px;
    color: #666;
}

/* Estilos con más distancia entre componentes del nav */
.nav-wrapper {
    background-color: #f2f2f2;
    padding: 1em;
}

.nav-title {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
}

.ruta-details {
    border: 1px solid #ccc;
    padding: 18px;
    margin-top: 30px;
}

.ruta-details p {
    margin: 5px 0;
}

.ruta-details strong {
    margin-right: 15px; /* Aumenta el margen a la derecha */
    font-weight: bold;
}

.ruta-desnivel {
    color: #4CAF50;
}

.ruta-distancia {
    color: #4CAF50;
}

.ruta-direccion {
    color: #4CAF50;
}

.ruta-puntuacion {
    color: #4CAF50;
}


